<!--The content below is only a placeholder and can be replaced.-->
<div class="demo">
  <h2>
    Mat Touch Select Demo
  </h2>
  <div>

    <div class="btn-control">
      <button mat-flat-button (click)='touchToggle = !touchToggle' color='primary'>
        Toggle Touch: {{ touchToggle }}
      </button>
    </div>

    <div class="btn-control">
      <button mat-flat-button (click)='control.reset()' color='primary'>
        Reset Value
      </button>
    </div>
    
    <div class="btn-control">
      <button mat-flat-button (click)='toggleDisable()' color='primary'>
        {{ disabled ? 'Enable' : 'Disable' }}
      </button>
    </div>

  </div>

  <mat-form-field appearance="outline">
    <mat-label>App timer</mat-label>

  <!-- Our Touch Optimised Form Control -->
  <mat-touch-select [options]='options' [formControl]='control' [touchUi]='touchToggle'
    [errorStateMatcher]="matcher">
  </mat-touch-select>
  <mat-error>
    App timer is <strong>required</strong>
  </mat-error>
  </mat-form-field>
</div>